@import "frappe.css";

* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
    transition: 0.3s;
}

window#waybar {
    background: transparent;
    color: @text;
}

tooltip {
    background: @mantle;
    border-radius: 10px;
    border-width: 1.5px;
    border-style: solid;
    border-color: @crust;
    transition: 0.3s;
}

#workspaces button {
    padding: 5px;
    color: @overlay0;
    margin-right: 5px;
}

#workspaces button.active {
    color: @overlay1;
    background: @pink;
    border-radius: 20px;
}

#workspaces button.urgent {
    color: @crust;
    background: @red;
    border-radius: 20px;
}

#workspaces button:hover {
    background: @crust;
    color: @text;
    border-radius: 20px;
}

#custom-updates,
#custom-power_profile,
#custom-weather,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background: @crust;
    opacity: 0.8;
    padding: 0px 5px;
    margin: 0;
    margin-top: 5px;
    border: 1px solid @crust;
}

#temperature {
    border-radius: 20px 0px 0px 20px;
    padding-left: 7px;
}

#temperature.critical {
    color: @pink;
}

#backlight {
    border-radius: 20px 0px 0px 20px;
    padding-left: 7px;
}

#tray {
    border-radius: 20px 0px 0px 20px;
    border-right: 0px;
    padding-left: 5px;
}

#custom-updates {
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
}

#custom-updates {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
#custom-updates.pending-updates {
	animation-name: blink-update;
	animation-duration: 3s;
}



#workspaces {
    border-radius: 20px;
    margin-left: 5px;
    padding-right: 0px;
    padding-left: 5px;
}

#custom-power_profile {
    color: @teal;
    border-left: 0px;
    border-right: 0px;
}

#window {
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: @peach;
    border-radius: 20px 0px 0px 20px;
    margin-left: 5px;
    border-right: 0px;
    transition: 0.3s;
    padding-left: 7px;
}

#network {
    color: @yellow;
    border-radius: 20px 0px 0px 20px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: @sky;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px
}

#pulseaudio {
    color: @sky;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: @lavender;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 20px 20px 0px;
    margin-right: 5px;
    padding-right: 7px;
}

#battery {
    color: @green;
    border-radius: 0 20px 20px 0;
    margin-right: 5px;
    padding-right: 7px;
    border-left: 0px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-weather {
    border-radius: 0px 20px 20px 0px;
    border-right: 0px;
    margin-left: 0px;
}
